/* @theme semib
 * @auto-scaling false
*/

/* 
 * style:
 *  mainly followed: gaia
 *   "https://github.com/marp-team/marp-core/blob/main/themes/gaia.scss"
 * followed: academic
 *  "https://github.com/kaisugi/marp-theme-academic"

 * color:
 *  mainly followed: default
 *   "https://github.com/marp-team/marp-core/blob/main/themes/default.scss" 
 */

@import 'default';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import '~highlight.js/styles/sunburst';

p {
  text-align: left;
}

h1 {
  font-size: 1.57em;
  border-bottom: #6a7a7d solid 7px;
  padding-bottom: 0.1em;

  margin: 0.5em 0 0.3em;
  color: #000;
  text-align: left;

  strong {
    font-weight: inherit;
    color: #000;
  }

  &::part(auto-scaling) {
    max-height: 580px;
  }
}

h2 {
  font-size: 1.46em;

  margin: 0.5em 0 0.3em;
  color: #000;
  text-align: left;

  strong {
    font-weight: inherit;
    color: #000;
  }

  &::part(auto-scaling) {
    max-height: 580px;
  }
}

h3 {
  font-size: 1.35em;

  margin: 0.5em 0 0.3em;
  color: #000;
  text-align: left;

  strong {
    font-weight: inherit;
    color: #000;
  }

  &::part(auto-scaling) {
    max-height: 580px;
  }
}

h4 {
  font-size: 1.25em;

  margin: 0.5em 0 0.3em;
  color: #000;
  text-align: left;

  strong {
    font-weight: inherit;
    color: #000;
  }

  &::part(auto-scaling) {
    max-height: 580px;
  }
}

h5 {
  font-size: 1.14em;

  margin: 0.5em 0 0.3em;
  color: #000;
  text-align: left;

  strong {
    font-weight: inherit;
    color: #000;
  }

  &::part(auto-scaling) {
    max-height: 580px;
  }
}

h6 {
  font-size: 1em;
  text-align: center;
  border: solid;
  letter-spacing: 0;
  margin: -0.1em 0.15em;
  padding: 0.1em 0.2em;
  vertical-align: baseline;

  color: #000;

  strong {
    font-weight: inherit;
    color: #000;
  }

  &::part(auto-scaling) {
    max-height: 580px;
  }
}

ul>li,
ol>li {
  text-align: left;
  margin: 0.1em 0 0;
}

ul>li>p,
ol>li>p {
  margin: 0.6em 0 0;
}

code {
  display: inline-block;
  font-family: 'Source Code Pro', monospace;
  font-size: 20px;
  letter-spacing: 0;
  margin: -0.1em 0.15em;
  padding: 0.05em 0.1em;
  vertical-align: baseline;
  line-height: 1.2;
  overflow: visible;
  border: solid 2px;
}

pre {
  text-align: left;
  display: block;
  overflow: visible;
  margin: 0.1em 0em;
  padding: 0.2em;
  border: solid 2px;

  &::part(auto-scaling) {
    max-height: calc(580px - 1em);
  }


  code {
    line-height: 1.2;
    font-size: 20px;
    overflow: visible;
    letter-spacing: 0;
    box-sizing: border-box;
    min-width: 100%;
  }
}


blockquote {
  padding: 0 0.5em;
  max-width: 93%;
  font-size: 20px;
  position: absolute;
  margin-top: 5px;
  bottom: 5px;
  left: 28px;
  line-height: 1.2;

  ul {
    list-style-type: none;
    text-indent: -2.3em;
    margin-left: 4px;

    li::before {
      content: "*";
    }

  }

  &::after,
  &::before {
    content: "";
    display: block;
    font-family: "Times New Roman", serif;
    font-weight: bold;
    position: absolute;
  }

  >*:first-child {
    margin-top: 0;
  }

  code {
    line-height: 1.2;
    font-size: 20px;
    overflow: visible;
    letter-spacing: 0;
    box-sizing: border-box;
    margin: 0;
    min-width: 100%;
  }
}

mark {
  background: transparent;
}

table {
  display: inline-block;
  border-spacing: 0;
  border-collapse: collapse;
  margin: 0.0em 0.3em 0;
  font-size: 28px;

  tbody {
    text-align: left;
  }

  thead>tbody {
    text-align: center;
  }

  th,
  td {
    padding: 3px 3px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-foreground);
  }
}


section {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: Lato, "Avenir Next", Avenir, "Trebuchet MS", "Segoe UI", sans-serif;
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start; */
  /* display block だと中央ぞろえになった */
  display: block;
  text-align: center;

  line-height: 1.4;
  font-family: 'Noto Sans JP', sans-serif;
  padding: 40px 1.3em 0;
  font-size: 28px;

  letter-spacing: 1.25px;
  word-wrap: break-word;
  --color-background: #fff;
  --color-background-stripe: rgba(69, 90, 100, 0.1);
  --color-foreground: #000;
  --color-dimmed: #6a7a7d;
  --color-highlight: #800000;

  a,
  mark {
    color: var(--color-highlight);
  }

  h1 strong,
  h2 strong,
  h3 strong,
  h4 strong,
  h5 strong {
    color: var(--color-highlight);
  }

  header,
  footer,
  section::after,
  blockquote::before,
  blockquote::after {
    color: var(--color-foreground);
  }

  table {
    thead th {
      background: var(--color-background);
      color: var(--color-foreground);
    }
  }


  >*:first-child,
  >header:first-child+* {
    margin-top: 0;
  }


  /* https://github.com/marp-team/marpit/issues/271 */
  &::after {
    top: 21px;
    font-weight: 700;
    font-size: 30px;
    color: #000;
    content: attr(data-marpit-pagination);
  }


  &:where(.lead) {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    /* stylelint-disable-next-line no-descending-specificity */


    h1 {
      color: #000;
      text-align: center;
      font-size: 54px;

      strong {
        -webkit-text-stroke: 1px #000;
      }
    }


    h2 {
      color: #000;
      text-align: center;

      strong {
        -webkit-text-stroke: 1px #000;
      }
    }

    h3 {
      color: #000;
      text-align: center;

      strong {
        -webkit-text-stroke: 1px #000;
      }
    }

    h4 {
      color: #000;
      text-align: center;

      strong {
        -webkit-text-stroke: 1px #000;
      }
    }

    h5 {
      color: #000;
      font-size: 24px;
      text-align: center;

      strong {
        -webkit-text-stroke: 1px #000;
      }
    }

    p {
      text-align: center;
    }

    p {
      text-align: center;
    }

    blockquote {

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        text-align: left;
      }
    }

    ul>li>p,
    ol>li>p {
      text-align: left;
    }

    table {
      margin-left: auto;
      margin-right: auto;

      tbody>tr:nth-child(odd) td,
      tbody>tr:nth-child(odd) th {
        background: var(--color-background-stripe, transparent);
      }
    }

    blockquote {
      bottom: 85px;

      p {
        text-align: left;
      }

    }
  }


  &:where(.withfooter) {
    blockquote {
      bottom: 55px;
    }
  }


  &:where(.withheader) {
    padding-top: 60px;
  }

  &:where(.mintable) {
    font-size: 20px;
  }

  &:where(.hh) {
    padding-top: 120px;

    h1 {
      border-bottom: none;
      font-size: 1.35em;
      padding-top: 0.3em;
    }

    h2 {
      font-size: 1.25em;
    }

    h3 {
      font-size: 1.14em;
    }

    h4 {
      font-size: 1.07em;
    }

    header {
      font-size: 44px;
      margin: 0.5em 0.2em 0.3em;
      top: 40px;
      padding-right: 40px;
      line-height: 1.55;
      font-family: 'Noto Sans JP', sans-serif;
    }

    &::after {
      text-align: right;
      padding-bottom: 1.4em;
      border-bottom: #6a7a7d solid 7px;
      width: calc(100% - 70px);
    }
  }

  &:where(.table-as-box) {
    table {
      thead th {
        background: var(--color-background);
        color: var(--color-foreground);
        font-weight: 200;
        text-align: left;
      }

      th,
      td {
        padding: 3px 3px;
        border-width: 1px;
        border-style: solid;
        border-color: var(--color-background);
      }

      tbody {

        tr td,
        tr th {
          background: var(--color-background);
        }
      }
    }
  }


  &:where(.TwH) table thead th {
    background: #f6f8fa;
    color: var(--color-foreground);
    font-weight: 200;
    text-align: left;
  }

}

code {
  background: transparent;
}

header {
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  font-size: 28px;
  font-weight: 700;
  position: fixed;
  text-align: left;
}

footer {
  font-size: 24px;
  text-align: left;
  margin-top: 3px;
  font-weight: 700;
  position: fixed;
}

ol ol,
ul ol,
ol ul,
ul ul {
  font-size: 0.9em;
  margin: 0 -0.7em 0;
}

ol li ol,
ul li ol {
  list-style-type: decimal;
}

img {
  &[alt~="center"] {
    display: block;
    margin: 0 auto;
  }


  &[alt~="left"] {
    display: inline-block;
    vertical-align: baseline;
  }

  &[alt~="right"] {
    display: block;
    position: fixed;
    right: 0.8em;
  }
}

/* 
gaia, default のライセンス

MIT License

Copyright (c) 2018 Marp team (marp-team@marp.app)

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE. */


/* 
academic のライセンス

MIT License

Copyright (c) 2022 Kaito Sugimoto

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE. */